<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar id="menu_bar">

      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu id="side_menu_edify" side="left">
    <img id="menu-bg" src="img/sun_blur.jpg">
    <div class="grad-bg-login"></div>
    <ion-content>
      <ion-list class="menu-list">
        <!--<ion-item class="edify-menu_el" nav-clear menu-close href="#/app/overview">-->
       <br>
       <br>
       <br>
        <li class="menu-elems"
            menu-close
            ui-sref-active='active'
            ui-sref="app.overview" >
          <i class="ion-ios-home-outline menu-icon"></i>
          Home
        </li>
        <br>
        <!--</ion-item>-->
        <li class="menu-elems"
            menu-close
            ui-sref-active='active'
            ui-sref="app.profile"
            style="text-decoration: none;
            padding-top: 1em;">
          <i class="ion-ios-person-outline menu-icon"></i>
          Profile
        </li>
        <br>
        <li class="menu-elems"
            ui-sref-active='active'
            ui-sref="app.resources"
            menu-close
            style="text-decoration: none; padding-top: 1em;">
          <i class="ion-grid menu-icon"></i>
          Resources
        </li>
        <br>
        <li class="menu-elems"
            ui-sref-active='active'
            ui-sref="app.tutorial"
            menu-close
            style="text-decoration: none; padding-top: 1em; ">
            <i class="ion-ios-paper-outline menu-icon"></i>
            Tutorial
        </li>
        <br>
        <br>
        <hr>
          <br>
        <li ng-controller="authenticationController" class="menu-elems" href="#" menu-close>
          <p ng-click="logout()" style="color: #ffffff;">
            <i class="ion-log-out menu-icon"></i>
            Logout
          </p>
        </li>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
