<ion-view view-title="Alert" animation="no-animation" ng-init="alertInit()">
  <ion-content >

    <div class="" style="margin-top: -1em; padding: 5em !important; background-color: #ef473a; color: white;">

        <h1 class="title">
            <i class="ion-alert-circled" style="font-size: 1.5em; float: left; margin-top: -0.5em; color: white;"></i>
            <span style="font-size: 1.1em; margin-left: 1em; color: white; float: left; margin-top: -0.4em;">ALERT</span>
        </h1>
    </div>
        <h3 style="padding-left: 1em; padding-right: 0.5em; padding-top: 2em; color: #666666; margin-top: 1em; margin-bottom: 2em;">We found something that might interest you.</h3>
        <p style="padding-left: 2em; padding-right: 0.5em; padding-top: 1em; color: #666666;">
            <blockquote style="font-size: 1.2em; ">This is the first device message</blockquote>
        </p>

          <h4 style="padding-left: 1em; padding-right: 0.5em; margin-top: 2em; padding-top: 1em; color: #666666;">
              Contact Name: <strong style="color: rgb(45, 122, 191);">Joe</strong>
          </h4>

          <h4 style="padding-left: 1em; padding-right: 0.5em; margin-top: 2em; padding-top: 1em; color: #666666;">
              Contact Number: <strong style="color: rgb(45, 122, 191);">983882736</strong>
          </h4>

          <h4 style="padding-left: 1em; padding-right: 0.5em; margin-top: 2em; padding-top: 1em; color: #666666;">
              Type: <strong style="color: #808080;">SMS</strong>
          </h4>

        <!--
            This show additional information such as post and type which we can activate when we have that info available.
            <h4 ng-show="post.comments.data[0]" style="padding-left: 1em; padding-right: 0.5em; margin-top: 2em; padding-top: 1em; color: #666666;">
                This comment was made on {{ post.user.full_name }}'s post by user: {{ post.comments.data[0].from.username }}
                {{ tago }}.
                <a style="text-decoration: underline; color: rgb(45, 122, 191) !important; padding-top: 2px;" href="{{ post.link }}">
                    LINK TO POST
                </a>
            </h4>

            <h4 ng-hide="post.comments.data[0]" style="padding-left: 1em; padding-right: 0.5em; margin-top: 2em; padding-top: 1em; color: #666666;">
                There is no more information registered for this action.
            </h4>
         -->

  </ion-content>
    <div class="tabs tabs-icon-left" style="height: 70px;">
      <a class="tab-item balanced" style="color: #d3d3d3;" ng-click="alreadySaved()">
        <i class="icon ion-ios-bookmarks alert-icons" ></i>
      </a>
      <a class="tab-item calm" ng-click="goToResources()">
          <i class="icon ion-grid alert-icons"></i>
      </a>
      <a class="tab-item assertive" >
        <i class="icon ion-trash-a alert-icons"></i>
      </a>

    </div>
</ion-view>
