<ion-view view-title="{{alert[0].user}}" animation="no-animation" ng-init="alertInit()">
  <ion-content >
    <br>

    <div ng-repeat="al in alert[0].context">

      <!-- ng show them or mine -->
      <div ng-show="al.msg_user[0].username == alert[0].user">
        <div ng-hide="alert[0].msg_id == al.msg_id">
          <div class="them-talk-bubble tri-right left-in" style="float: left;">
            <div class="talktext">
              <p>
                <!--<span class="my-msg-username">juan</span>-->
                {{al.msg_text}}
                <span class="them-msg-timestamp">{{al.msg_created_at}}</span>
              </p>
            </div>
          </div>
        </div>

        <div ng-show="alert[0].msg_id == al.msg_id">
          <div class="alert alert-talk-bubble tri-right left-in" style="float: left;">
            <div class="talktext">
              <p>
                <!--<span class="my-msg-username">juan</span>-->
                {{al.msg_text}}
                <span class="them-msg-timestamp-alert">{{al.msg_created_at}}</span>
              </p>
            </div>
          </div>
        </div>

      </div>

      <div ng-hide="al.msg_user[0].username == alert[0].user">
        <!-- ng show alert or normal -->
        <div ng-hide="alert[0].msg_id == al.msg_id">
          <div class="my-talk-bubble tri-right right-in" style="float: right;">
            <div class="talktext">
              <p>
                <!--<span class="my-msg-username">juan</span>-->
                {{al.msg_text}}
                <span class="my-msg-timestamp">{{al.msg_created_at}}</span>
              </p>
            </div>
          </div>
        </div>

        <div ng-show="alert[0].msg_id == al.msg_id">
          <div class="alert alert-talk-bubble tri-right right-in" style="float: right;">
            <div class="talktext">
              <p>
                <!--<span class="my-msg-username">juan</span>-->
                {{al.msg_text}}
                <span class="my-msg-timestamp-alert">{{al.msg_created_at}}</span>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>

      <!--<div class="alert alert-talk-bubble tri-right left-in" style="float: left;">
        <div class="talktext">
          <p>
            This talk-bubble uses. This talk-bubble uses.This talk-bubble uses.
            <span class="them-msg-timestamp-alert">04 16 2017</span>
          </p>
        </div>
      </div>-->

  </ion-content>
    <div class="tabs tabs-icon-left" style="height: 70px;">
      <a ng-hide="is_saved" class="tab-item balanced" ng-click="savedMsgs(sa_id)">
        <i class="icon ion-ios-bookmarks alert-icons" ></i>
      </a>
      <a ng-show="is_saved" class="tab-item balanced" style="color: #d3d3d3;" ng-click="alreadySaved()">
        <i class="icon ion-ios-bookmarks alert-icons" ></i>
      </a>
      <a class="tab-item calm" ng-click="goToResources()">
          <i class="icon ion-grid alert-icons"></i>
      </a>
      <a ng-hide="is_saved" class="tab-item assertive" ng-click="removeNotification(sa_id)">
        <i class="icon ion-trash-a alert-icons"></i>
      </a>
      <a ng-show="is_saved" class="tab-item assertive" ng-click="removeSavedNotification(sa_id)">
        <i class="icon ion-trash-a alert-icons"></i>
      </a>

    </div>
</ion-view>
