<ion-view view-title="Following" animation="no-animation">

        <div ng-hide="hasNotifs" style="color: white; margin-top: 50%; text-align: center;">
            <i class="ion-ios-body balanced" style="font-size: 3.5em; "></i>
            <h1 style="color: #666; font-size: 2.5em; margin-top: 1em;">Not following any user</h1>
        </div>
    
</ion-view>
