<ion-view view-title="Followers" animation="no-animation">

        <div ng-hide="hasNotifs" style="color: white; margin-top: 50%; text-align: center;">
            <i class="ion-ios-body calm" style="font-size: 3.5em; "></i>
            <h1 style="color: #666; font-size: 2.5em; margin-top: 1em;">No followers yet</h1>
        </div>
    
</ion-view>
