<ion-view view-title="Instagram User" ng-controller="SocProfileController" ng-init="getInstaUser()">
  <ion-content>
    <div class="list">
      <img style="width: 100px;" src="{{instaUserInfo.lk_picture}}" id="subacctpic"/>
      <div id="subacct-info">
        <h2 id="subacct-name">{{ instaUserInfo.username }}</h2>
      </div>
      <div class="button-bar bar-dark">
        <a class="button" style="font-size: 0.9em; "><span style="float: left;">Followers:</span> {{instaUserInfo.lk_followed}}</a>
        <a class="button" style="font-size: 0.9em;"><span style="float: left;">Posts:</span> {{instaUserInfo.lk_media}}</a>
        <a class="button" style="font-size: 0.9em;"><span style="float: left;">Following:</span> {{instaUserInfo.lk_follows}}</a>
      </div>

      <p style="color: #4a4a4a; padding: 1em; padding-left: 2em;font-size: 1.2em; padding-top: 2em; padding-bottom: 0; margin-bottom: 0.5em;">
        <strong style="color: rgb(45, 122, 191); margin-right: 2.3em;">Name:</strong>{{ instaUserInfo.lk_name}}
        <span ng-show="instaUserInfo.lk_website" style="display: block; margin-top: 1em;"><strong style="color: rgb(45, 122, 191); margin-right: 1em;">Website: </strong><a href="{{ instaUserInfo.lk_website}}">{{ instaUserInfo.lk_website}}</a></span>
        <span ng-show="instaUserInfo.lk_bio" style="display: block; margin-top: 1em;"><strong style="color: rgb(45, 122, 191); margin-right: 3em;">Bio: </strong>{{ instaUserInfo.lk_bio}}</span><br><br>
      </p>

      <div class="row" >
        <div class="col col-50" style="text-align: center;">
          <img src="{{instaMedia[0].images.low_resolution.url}}" style="width: 80%;">
        </div>
        <div class="col col-50" style="text-align: center;">
          <img src="{{instaMedia[1].images.low_resolution.url}}"  style="width: 80%;">
        </div>
      </div>
      <div class="row">
        <div class="col col-50" style="text-align: center;">
          <img src="{{instaMedia[2].images.low_resolution.url}}" style="width: 80%;">
        </div>
        <div class="col col-50" style="text-align: center;">
          <img src="{{instaMedia[3].images.low_resolution.url}}" style="width: 80%;">
        </div>
      </div>



    </div>
  </ion-content>
</ion-view>
