<ion-view view-title="Posts" animation="no-animation">

        <div ng-hide="hasNotifs" style="color: white; margin-top: 50%; text-align: center;">
            <i class="ion-ios-compose royal" style="font-size: 3.5em; "></i>
            <h1 style="color: #666; font-size: 2.5em; margin-top: 1em;">No posts published</h1>
        </div>

    </ion-content>
</ion-view>
