<ion-content ng-controller="registerController">
    <div id="signup-content">
      <img src="img/icon-120.png" class="edify-logo">
    </div>
    <div id="activation_content">
      Your account is not yet active. We've sent an email with the activation
      link, please follow the link to activate your account.
    </div>
    <div style='text-align: center;'>
      Already have an account? <strong ng-click="loginView()">Sign In</strong>
    </div>
</ion-content>
