<ion-content ng-controller="registerController">
    <div id="signup-content">
      <img src="img/icon-120.png" class="edify-logo">
    </div>
    <div id="activation_content">
      An email with your activation link has been sent to the email address
      provided. Please confirm it and log back in.
    </div>
    <div style='text-align: center;'>
      Already have an account? <strong ng-click="loginView()">Sign In</strong>
    </div>
</ion-content>
