<ion-view view-title="Login">
  <img src="img/login.jpg" class="login-bg" style="width: 110% !important;">
  <div class="grad-bg-login"></div>
  <ion-content ng-controller="authenticationController" ng-init="checkLoggedIn()">
    <!--<img src="img/icon-120.png" class="edify-logo-signin">-->
      <div id="login-content" style="padding-top: 20%;">
          <svg version="1.1"
           xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
           x="0px" y="0px" width="172.3px" height="76.3px" viewBox="0 0 172.3 76.3" enable-background="new 0 0 172.3 76.3"
           xml:space="preserve">
        <defs>
        </defs>
        <g>
          <path fill="#FFFFFF" d="M30.3,25c3.3,12.1-9.3,17.7-18.6,20.3c1.7,5,5.5,8.5,12.2,6.7c4.6-1.3,7.4-4.3,9-6.1l4.7,5.6
            c-1,1.4-5.3,6.1-12.7,8.1C11.6,63.2,4.2,56.4,1,44.7C-2.1,33,1.7,21.1,14.6,17.6C22.3,15.5,28.5,18,30.3,25z M15.8,24.4
            c-6.3,1.7-7.5,8.5-6.2,14.4c5.8-1.6,13.7-5.2,12.1-11.3C20.9,24.6,18.7,23.6,15.8,24.4z"/>
          <path fill="#FFFFFF" d="M64.6,17.7V9.4c0-1.4-0.7-1.9-2.1-2L59,7.2V0.8h15.2v49.5c0.1,1.4,0.7,1.9,2,1.9l2.9,0.2v6.5H65.8v-4.8
            L65.6,54C63.1,58.1,59,60,54.5,60c-12.7,0-16.5-9.8-16.5-20c0-13.9,7.2-23.3,19.9-23.3C60.8,16.7,62.7,17.1,64.6,17.7z M64.6,25.1
            c-1.5-0.7-3.7-1.3-6.2-1.3c-7.7,0-10.3,7.3-10.3,15.3c0,7.4,1.8,13.7,8.8,13.7c4.6,0,7.7-3,7.7-6.6V25.1z"/>
          <path fill="#FFFFFF" d="M96.5,52.1l4.6,0.2v6.5H81.8v-6.2l2.7-0.2c1.5-0.2,2.4-0.7,2.4-2.6V27.2c0-1.8-0.5-2.4-2-2.4l-2.9-0.2v-6.8
            h14.6V52.1z M90.8,0.5c3.6,0,6.2,2.7,6.2,6.1c0,3.4-2.6,5.9-6.3,5.9c-3.7,0-6.2-2.5-6.2-5.9C84.5,3.2,87,0.5,90.8,0.5z"/>
          <path fill="#FFFFFF" d="M109,24.8h-7v-6.8h7v-3.1C109,8.3,110.5,0,123.1,0c3.6,0,8.6,1.3,11.3,2.9L132,9.4c-2.4-1.2-5.5-2-7.7-2
            c-4.1,0-5.6,2.3-5.6,6.8v3.8h12.1v6.8h-12.1v27.3l6.8,0.3v6.5h-21.6v-6.2l2.7-0.2c1.5-0.2,2.4-0.7,2.4-2.7V24.8z"/>
          <path fill="#FFFFFF" d="M164,51.2c-2.9,4.1-7.8,6.4-13.2,6.4c-8.1,0-12.6-4.5-12.6-14.1V27c0-1.7-0.7-2.2-2-2.3l-2.6-0.2v-6.7h14.3
            v23.4c0,5,0.8,8.7,6,8.7c5.7,0,8.7-3.8,8.7-8.1V27.2c0-1.8-0.5-2.4-2-2.4l-2.6-0.2v-6.7h14.3v39.4c0,13.4-6.8,19-18.9,19
            c-5.1,0-11.9-1-15.3-2.7V62.3l7.7-0.7v3.9c0,1.5,0.4,2.4,1.9,2.9c1.5,0.6,3.3,0.8,5.8,0.8c7.5,0,10.5-4.6,10.5-12V51.2z"/>
        </g>
        </svg>
      </div>

        <br>
        <input class="input-area" type="email" ng-model="loginData.user.email" placeholder="email">
        <input class="input-area" type="password" ng-model="loginData.user.password" placeholder="password">

        <div class="padding">
          <button class="button button-block edify-button activated" style="border: 0; border-radius: 25px; padding: 0.5em; padding-left: 1em; padding-right: 0.4em; width: 85% !important; margin: auto;" ng-click="login()">Log in</button>
        </div>
        <div style='color: white; text-align: center; margin-top: 7%;'>
          Don't have an account? <strong ui-sref="register">Sign Up</strong>
        </div>

  </ion-content>
</ion-view>
