
<img src="img/login.jpg" class="login-bg" style="height: 100%; width: 110% !important;">
<div class="grad-bg-login"></div>
<ion-content ng-controller="authenticationController">
  <div id="login-content" style="padding-top: 20%;">
    <h1 style="color: white; margin-top: -50px; margin-bottom: 30px;">Create an Account</h1>
    <input class="input-area" type="text" ng-model="registerData.name" placeholder="Full Name">
    <input class="input-area" type="email" ng-model="registerData.email" placeholder="email">
    <input class="input-area" type="text" ng-model="registerData.phone" placeholder="phone number">
    <input class="input-area" type="password" ng-model="registerData.password" placeholder="password">
    <input class="input-area" type="password" ng-model="registerData.password_confirmation" placeholder="password confirmation">

    <div class="padding">
      <button class="button button-block edify-button activated" style="border: 0; border-radius: 25px; padding: 0.5em; padding-left: 1em; padding-right: 0.4em; width: 85% !important; margin: auto;" ng-click="register()">Create Account</button>
    </div>
    <div style='color: white; text-align: center; margin-top: 2%;'>
      Already have an account? <strong ng-click="loginView()">Sign In</strong>
    </div>
  </div>
</ion-content>
