<ion-view view-title="Application List" animation="no-animation" ng-controller="AppListController" ng-init="appInit()">
    <ion-content>
        <div ng-hide="hasNotifs" style="color: white; margin-top: 50%; text-align: center;" ng-init="alertInit()">
            <i class="ion-android-apps calm" style="font-size: 4em; "></i>
            <h1 style="color: #666; font-size: 2.5em; margin-top: 1em;">No applications synced</h1>
        </div>

        <ion-list ng-show="hasNotifs" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
            <ion-item ng-repeat="app in app_list track by $index" class="item item-icon-left" ng-click="goToAlert('{{ alert.id }}')">
                <img id="instagram-logo-avatar" src="img/stack-icon.png" style="margin-left: -2em; height: 30px !important;">
                <h2 style="margin-left: 3em; margin-top: 0.3em;">
                    {{app[0]}}
                    <span ng-show="app[1] == 'new'" style="float: right; font-size: 0.8em; background-color: #ffc900; color: white; padding: 0.4em; border-radius: 5px;">{{app[1]}}</span>
                </h2>
            </ion-item>
        </ion-list>
  </ion-content>
</ion-view>
