<ion-view view-title="Saved Notifications" animation="no-animation" ng-controller="taskController">
    <ion-content>
        <div ng-hide="hasNotifs" style="color: white; margin-top: 50%; text-align: center;" ng-init="alertInit()">
            <i class="ion-ios-checkmark-outline balanced" style="font-size: 4em; "></i>
            <h1 style="color: #666; font-size: 2.5em; margin-top: 1em;">No saved notification</h1>
        </div>

        <ion-list ng-show="hasNotifs" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
            <ion-item ng-repeat="alert in saved_alerts" class="item item-icon-left" ng-click="goToAlert('{{ alert.id }}')">

                <i class="icon ion-alert-circled energized" style="font-size: 2em; margin-left: 0.3em;"></i>
                <h2 style="margin-left: 0.9em; margin-bottom: 0.4em;">{{alert.text}}</h2>
                <p style="margin-left: 1em; border-bottom: 1px solid rgb(229, 229, 229); font-size: 0.8em;">
                  <span style="float: left;">{{alert.notif_type}}</span>
                  <span style="float: right;">From: {{alert.contact_number}}</span>
                </p>
                <p style="margin-left: 1.2em !important; font-size: 0.7em; color: rgb(177, 177, 177)">{{alert.created_at}}</p>

                <ion-option-button class="button-assertive" style="width: 5em;" ng-click="removeNotification(alert.id)">
                    <i class="icon ion-trash-a alert-list-icons"></i>
                </ion-option-button>

            </ion-item>
        </ion-list>
  </ion-content>
</ion-view>
