<ion-view view-title="Child Device Alerts" animation="no-animation" ng-init="alertInit()">
  <ion-content>
    <button ng-show="product_can_purchase" class="button button-outline button-positive button-block icon-left ion-ios-refresh-empty" id="backtrack-purchase-btn" ng-click="purchaseBacktrack()" style="margin-top: 4%; width: 92%; margin-left: 1em;">
        <span style="display: block;">Backtrack</span>
    </button>
      <!-- product_owned {{product_owned}}</br> -->
      <!-- If we want to check backtrack status: backtrack {{backtrack_status}}-->
      <!--<button ng-show="backtrack == 'true'" class="button button-outline button-positive button-block icon-left ion-ios-refresh-empty" id="backtrack-purchase-btn" ng-click="request_backtrack()" style="margin-top: 4%; width: 92%; margin-left: 1em; height: 70px;">
          <span style="display: block; margin-top: -0.5em;">Backtrack</span>
          <span style="font-size: 0.7em; position: absolute; top: 45%; right: 37%;">Backtrack Again</span>
      </button>-->

        <div ng-hide="hasNotifs" style="color: white; margin-top: 40%; text-align: center;">
            <i class="ion-ios-heart assertive" style="font-size: 3.5em; "></i>
            <h1 style="color: #666; font-size: 2.5em; margin-top: 1em;">You don't have alerts!</h1>
        </div>

        <ion-list ng-show="hasNotifs" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
            <ion-item ng-repeat="alert in alerts" class="item item-icon-left" ng-click="goToOldAlert('{{ alert.id }}')">

                <i class="icon ion-alert-circled assertive" style="font-size: 2em; margin-left: 0.2em;"></i>
                <h2 style="margin-left: 0.9em; margin-bottom: 0.4em;">{{alert.text}}</h2>
                <p style="margin-left: 1em; border-bottom: 1px solid rgb(229, 229, 229); font-size: 0.8em;">
                  <span style="float: left;">SMS</span>
                  <span ng-show="alert.contact_name" style="float: right;">From: {{alert.contact_name}}</span>
                  <span ng-hide="alert.contact_name" style="float: right;">From: {{alert.contact_number}}</span>
                  <!--<span style="float: right;">From: {{alert.address}}</span>-->
                </p>
                <p style="margin-left: 1.2em !important; font-size: 0.7em; color: rgb(177, 177, 177)">{{alert.created_at}}</p>

                <ion-option-button class="button-balanced" style="width: 5em;" ng-click="savedMsgs(alert.id)">
                    <i class="icon ion-ios-bookmarks alert-list-icons" ></i>
                </ion-option-button>

                <ion-option-button class="button-assertive" style="width: 5em;" ng-click="removeNotification(alert.id)">
                    <i class="icon ion-trash-a alert-list-icons"></i>
                </ion-option-button>

                <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>

            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
