<ion-view view-title="{{alert[0].contact_number}}" animation="no-animation" ng-init="alertInit()">
  <ion-content >
    <br>

    <!--<div>
      <div class="them-talk-bubble tri-right left-in" style="float: left;">
        <div class="talktext">
          <p>
            {{alert[0].text}}
            <span class="them-msg-timestamp">{{alert[0].created_at}}</span>
          </p>
        </div>
      </div>
    </div>-->

    <div ng-repeat="(i, al) in alert[0].context  | orderBy:'-'" style="height: 20%; margin-bottom: 2em;">
      <!-- ng show them or mine -->

      <!-- Check if it's been sent -->
      <div ng-hide="al.msg_sent == 'true' || al.msg_sent == true">
        <!-- Check if it's the alert -->
        <div ng-hide="alert[0].id == al.msg_id">
          <div class="them-talk-bubble tri-right left-in" style="float: left;">
            <div class="talktext">
              <p>
                {{al.msg_text}}
                <span class="them-msg-timestamp">{{al.msg_created_at}}</span>
              </p>
            </div>
          </div>
        </div>
        <div ng-show="alert[0].id == al.msg_id">
          <div class="alert alert-talk-bubble tri-right left-in" style="float: left;">
            <div class="talktext">
              <p>
                {{al.msg_text}}
                <span class="them-msg-timestamp-alert">{{al.msg_created_at}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="al.msg_sent == 'true' || al.msg_sent == true">
        <div ng-hide="alert[0].id == al.msg_id">
          <div class="my-talk-bubble tri-right right-in" style="float: right; margin-bottom: 6em;">
            <div class="talktext">
              <p>
                {{al.msg_text}}
                <span class="my-msg-timestamp">{{al.msg_created_at}}</span>
              </p>
            </div>
          </div>
        </div>
        <div ng-show="alert[0].id == al.msg_id">
          <div class="alert alert-talk-bubble tri-right right-in" style="float: right;">
            <div class="talktext">
              <p>
                {{al.msg_text}}
                <span class="my-msg-timestamp-alert">{{al.msg_created_at}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="i == lengthObj - 1" style="width: 400px; height: 300px;">

      </div>

    </div>
    <div id="start_here"></div>

  </ion-content>
    <div class="tabs tabs-icon-left" style="height: 70px;">
      <!--<a ng-hide="is_saved" class="tab-item balanced" ng-click="savedMsgs(sa_id)">
        <i class="icon ion-ios-bookmarks alert-icons" ></i>
      </a>
      <a ng-show="is_saved" class="tab-item balanced" style="color: #d3d3d3;" ng-click="alreadySaved()">
        <i class="icon ion-ios-bookmarks alert-icons" ></i>
      </a>-->
      <a class="tab-item calm" ng-click="goToResources()">
          <i class="icon ion-grid alert-icons"></i>
      </a>
      <!--<a ng-hide="is_saved" class="tab-item assertive" ng-click="removeNotification(sa_id)">
        <i class="icon ion-trash-a alert-icons"></i>
      </a>
      <a ng-show="is_saved" class="tab-item assertive" ng-click="removeSavedNotification(sa_id)">
        <i class="icon ion-trash-a alert-icons"></i>
      </a>-->

    </div>
</ion-view>
