<ion-view view-title="Backtracked Alerts" animation="no-animation" ng-init="alertInit()">
  <ion-content>

        <div ng-hide="hasNotifs" style="color: white; margin-top: 40%; text-align: center;">
            <i class="ion-ios-heart assertive" style="font-size: 3.5em; "></i>
            <h1 style="color: #666; font-size: 2.5em; margin-top: 1em;">You don't have alerts!</h1>
        </div>

        <ion-list ng-show="hasNotifs" show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe">
            <ion-item ng-repeat="alert in alerts" class="item item-icon-left" ng-click="goToBackAlert('{{ alert.id }}')">

                <i class="icon ion-alert-circled assertive" style="font-size: 2em; margin-left: 0.2em;"></i>
                <h2 style="margin-left: 0.9em; margin-bottom: 0.4em;">{{alert.text}}</h2>
                <p style="margin-left: 1em; border-bottom: 1px solid rgb(229, 229, 229); font-size: 0.8em;">
                  <span style="float: left;">SMS</span>
                  <span style="float: right;">From: {{alert.contact_number}}</span>
                  <!--<span style="float: right;">From: {{alert.address}}</span>-->
                </p>
                <p style="margin-left: 1.2em !important; font-size: 0.7em; color: rgb(177, 177, 177)">{{alert.created_at}}</p>

                <!--<ion-option-button class="button-balanced" style="width: 5em;" ng-click="savedMsgs(alert.id)">
                    <i class="icon ion-ios-bookmarks alert-list-icons" ></i>
                </ion-option-button>-->

                <!--<ion-option-button class="button-assertive" style="width: 5em;" ng-click="removeNotification(alert.id)">
                    <i class="icon ion-trash-a alert-list-icons"></i>
                </ion-option-button>-->

                <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                </ion-reorder-button>

            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
