<ion-view view-title="Instagram Config" animation="no-animation" ng-init="socInstaInit()">
    <ion-content style="padding-top: 0; top: -15px;">
        <div class="list" style="padding-top: 0;">
            <div class="avtr-profile half-blue-bg row" style="height: 100px; padding-top: 55px;">
                <a class="col col-40" style="margin-top: -15px;  margin-left: auto; margin-right: auto; width: 100px;" ng-click="showAvatarPopup()">
                    <img id="instagram-logo-avatar" src="img/Instagram_Icon_Large.png" style="width: 100px; height: 100px !important; margin-left: 28px;"></i>
                </a>
            </div>


            <div style="margin-top: 8em;">
                <a class="col col-100" style="margin-left: auto; margin-right: auto;">

                    <input class="input-area-social"
                           style="padding-left: 1em;"
                           type="text"
                           id="insta_user"
                           ng-model="current.instaUsrn"
                           placeholder="{{placeholder}}"
                    >

                </a>

                <a class="col col-100" style="margin-left: auto; margin-right: auto; margin-top: 3em;">

                    <input class="input-area-social"
                           style="padding-left: 1em;"
                           type="password"
                           id="insta_pswd"
                           ng-model="current.instaPswd"
                           placeholder="*********"
                    >

                </a>
            </div>

        </div>

    <div class="content padding" style="margin-top: 5em;">
        <a class="twitter-btn button button-outline button-balanced button-block "
         ng-click="updateInstaCreds()" href="">
            <i class="ion-android-add-circle twitter-inactive-logo" style="padding-top: 20px; font-size: 2em;"></i>
            <span class="twitter-inactive" style="font-size: 1.5em;">Save</span>
        </a>
    </div>

  </ion-content>
</ion-view>
