<ion-view view-title="Tutorial" class="tutbg" ng-controller="linkController"  ng-init="linkInit()">
    <ion-slide-box on-slide-changed="slideChanged(index)">

          <ion-slide class="solicitacoes">
            <div id="logo">
                <img src="http://i.imgur.com/0F0W8MY.png">
            </div>
            <h3>Step 1</h3>
            <p>
               A message has been sent to the other device<br/>
               click on the link and download our application.<br/>
                <br/>
               <i>Slide for next step</i>
            </p>
              <br/>

              <!--<button ng-click="sendSMS()" class="button button-positive">
                  Send SMS
              </button>-->

          </ion-slide>

          <ion-slide class="sem-internet">
            <div id="logo">
                <img src="http://i.imgur.com/I6wDDH6.png">
            </div>
            <h3>Step 2</h3>
            <p>
              After installing the app type the<br/>
              unique profile PIN found at the account's<br/>
              main page.<br/>
              <br/>
              <i>Slide for next step</i>
            </p>
          </ion-slide>

          <ion-slide class="notificacoes">
            <div id="logo">
                <img src="http://i.imgur.com/qrR7i8g.png">
            </div>
            <h3>Step 3</h3>
            <br/>
            <p>
              You're all set.<br/>
                <br>
                <button ng-click="goToProfile(sa_id)" class="button button-positive">
                    I'm Ready
                </button>
            </p>
          </ion-slide>



        </ion-slide-box>

</ion-view>
