<ion-view view-title="{{current.name}}" animation="no-animation" ng-controller="linkController" ng-init="linkInit()">
    <ion-content style="padding-top: 0; top: -15px;">

        <div class="list" style="padding-top: 0;">
            <div class="avtr-profile half-blue-bg row" style="height: 260px; padding-top: 55px;">
                <div ng-click="appProfile()" style="background-color: rgb(26, 77, 122); color: white; text-align: center; width: 100%; height: 40px; padding-top: 10px; position: absolute; top: 20px; left: 0;">
                    <i class="ion-ios-bookmarks-outline" style="color: white; font-size: 2em; position: absolute; top: 7px; left: 30px;"></i>
                    <span>Tutorial</span>
                </div>
                <i id="edit-child" class="ion-ios-cog-outline" ng-click="showEditPopup()"></i>
                <!--<i id="edit-child-help" class="ion-ios-help-outline" ng-click="appProfile()"></i>-->
                <a class="col col-40" style="margin-top: 15px; margin-left: auto; margin-right: auto;" ng-click="showAvatarPopup()">
                    <img class="childImage childAccount" id="subWith" ng-hide="current.image == null"  ng-src="{{current.image}}" style="width: 100px; height: 100px; object-fit: cover;">
                    <img class="childImage childAccount" id="subWithout" ng-show="current.image == null"  ng-src="img/face_default.png" style="width: 100px;">
                </a>
            </div>
            <div style="">
                <a class="col col-40" style="margin-top: -70px; margin-bottom: 1em;margin-left: auto; margin-right: auto; text-align: center; ">
                    <span style="font-size: 2em; color: #fff;">{{current.name}}</span>
                </a>
            </div>

            <ion-list class="list" can-swipe="listCanSwipe">
                <li ng-show="connected == false" class="item" style="padding: 1.5em; border-top-color: #ef473a; background-color: #ef473a;">
                    <i class="icon ion-nuclear" style="font-size: 2em; color: white;"></i>
                    <p class="label-tgls" style="float: right; z-index: 100;">
                        <span style="font-size: 0.8em; bottom: 30%; position: absolute; right: 35px; color: white;">Device disconnected for more than 12 hrs</span>
                    </p>
                </li>

                <button class="button button-outline button-balanced button-block icon-left ion-paper-airplane" id="backtrack-purchase-btn" ng-click="sendSMS()" style="margin-top: 2em; width: 92%; margin-left: 1em; height: 70px;">
                    Send Link
                </button>

                <li class="item" style="padding: 1.5em;" ng-click="goToAppList(current.edify_id)">
                    <img id="instagram-logo-avatar" src="img/stack-icon.png" style="margin-left: -0.4em;">
                    <i ng-show="new_apps_badge > 0" class="alert-badge-list">{{new_apps_badge}}</i>
                    <p class="label-tgls" style="float: right; z-index: 100;">
                        <span style="font-size: 1.2em; position: absolute; right: 30px;">Apps on Device</span>
                    </p>
                </li>
                <li class="item" style="padding: 1.5em;" ng-click="goToDeviceMessages(current.edify_id)">
                    <img id="instagram-logo-avatar" src="img/chat-icon.png" style="margin-left: -0.4em;">
                    <!--<i class="alert-badge-list">1</i>-->
                    <i ng-show="badge > 0" class="alert-badge-list">{{badge}}</i>
                    <p class="label-tgls" style="float: right; z-index: 100;">
                        <span style="font-size: 1.2em; position: absolute; right: 30px;">Device Messages</span>
                    </p>
                </li>
                <li ng-show="backtrack == 'true'" class="item" style="padding: 1.5em;" ng-click="goToBacktrackedeMessages(current.edify_id)">
                    <img id="instagram-logo-avatar" src="img/backtrack_edify.png" style="margin-left: -0.4em;">
                    <!--<i class="alert-badge-list">1</i>-->
                    <i ng-show="back_badge > 0" class="alert-badge-list">{{back_badge}}</i>
                    <p class="label-tgls" style="float: right; z-index: 100;">
                        <span style="font-size: 1.2em; position: absolute; right: 30px;">Backtracked Messages</span>
                    </p>
                </li>
                <li class="item item-toggle">
                    <img id="instagram-logo-avatar" src="img/inst-logo.jpeg">
                    <p class="label-tgls">
                        <span style="opacity: 0.5;">Instagram</span>
                    </p>
                    <label class="toggle toggle-balanced config-tgls">
                        <input type="checkbox" disabled>
                            <div class="track">
                                <div class="handle lower-hdl"></div>
                            </div>
                    </label>
                </li>
                <!--<ion-item ng-show="instagram_user" class="item" ng-click="social_prof(current.edify_id)">
                    <img id="instagram-logo-avatar" src="img/inst-logo.jpeg">
                    <p class="label-tgls">
                        <span style="position: absolute; left: 95px;">Instagram</span>
                    </p>
                    <i class="ion-arrow-right-b twitter-inactive-logo" style="color: #33cd5f; font-size: 3.5em; margin-top: -18px; position: absolute; right: 33px;"></i>
                    <ion-option-button class="button-dark" style="width: 5em;" ng-click="goToInstaConfig()">
                        <i class="icon ion-ios-cog-outline alert-list-icons" style="font-size: 3em;"></i>
                    </ion-option-button>
                </ion-item>

                <ion-item ng-hide="instagram_user" class="item" ng-click="goToInstaConfig()">
                    <img id="instagram-logo-avatar" src="img/Instagram_Icon_Large.png"></i>
                    <p class="label-tgls">
                        <span style="position: absolute; left: 95px;">Instagram</span>
                    </p>
                    <i class="ion-ios-more twitter-inactive-logo" style="color: rgb(45, 122, 191); font-size: 3.5em; margin-top: -18px; position: absolute; right: 33px;"></i>
                </ion-item>-->

                <li class="item item-toggle">
                    <img  style="opacity: 0.5; height: 45px; float: left; margin-right: 2em;" src="img/FB-official.png"></i>
                    <p class="label-tgls">
                        <span style="opacity: 0.5;">Facebook</span>
                    </p>
                    <label class="toggle toggle-balanced config-tgls">
                        <input type="checkbox" disabled>
                            <div class="track">
                                <div class="handle lower-hdl"></div>
                            </div>
                    </label>
                </li>
                <li class="item item-toggle">
                    <img id="instagram-logo-avatar" style="opacity: 0.5;" src="img/Twitter-official.png"></i>
                    <p class="label-tgls">
                        <span style="opacity: 0.5;">Twitter</span>
                    </p>
                    <label class="toggle toggle-balanced config-tgls">
                        <input type="checkbox" disabled>
                            <div class="track">
                                <div class="handle lower-hdl"></div>
                            </div>
                    </label>
                </li>
                <li class="item" style="padding: 1.5em;" ng-click="savedMsgs(current.edify_id)">
                    <i class="ion-bookmark dark" style="padding-top: 8px; color: rgba(68, 68, 68, 0.8); font-size: 2.5em; padding-left: 8px;"></i>
                    <p class="label-tgls" style="float: right; z-index: 100;">
                        <span style="font-size: 1.2em; position: absolute; right: 30px;">Saved Messages</span>
                    </p>
                </li>
                <li class="item" style="padding: 1.5em;">
                    <i class="ion-lock-combination" style="padding-top: 8px; color: rgba(68, 68, 68, 0.8); font-size: 2.5em; padding-left: 0;"></i>
                    <p class="label-tgls" style="float: right; z-index: 100;">
                        <span style="font-size: 1.2em; position: absolute; right: 30px;">{{current.pin}}</span>
                    </p>
                </li>
            </ion-list>
        </div>

    <div class="content padding">
        <a class="twitter-btn button button-outline button-assertive button-block "
         ng-click="remove_acct('{{ current.id }}')" href="">
            <i class="ion-trash-a twitter-inactive-logo" style="padding-top: 20px; font-size: 2em;"></i>
            <span class="twitter-inactive" style="font-size: 1.5em;">Remove Account</span>
        </a>
    </div>

  </ion-content>
</ion-view>
