<ion-view view-title="Home" ng-controller="homeController" ng-init="homeInit()">
    <div class="solid-blue-bg"></div>
    <ion-content>
        <ion-refresher style="margin-top: 8em !important;" pulling-text="Pull to refresh..." on-refresh="doHomeRefresh()">
        </ion-refresher>
        <br>
        <div class="sub-accts" style="margin-top: 10em;">

            <div ng-hide="hasLinkedAccts">
                <!--<div ng-repeat="acct in linkedAccounts track by acct.id | orderBy: 'acct.id' ">-->
                <div ng-repeat="acct in linkedAccounts | orderBy: 'acct.id':true ">
                    <div class="avtr-1">
                      <!-- Get profile from index -->
                      <a ng-click="goToProfile(acct.id)" style="text-decoration: none; color: rgb(45, 122, 191) !important;">
                        <i ng-show="acct.badge > 0" class="alert-badge">{{acct.badge}}</i>                        
                        <img class="childImage" ng-hide="acct.image == null" ng-src="{{ acct.image }}" style="width: 150px; height: 150px; object-fit: cover;">
                        <img class="childImage" ng-show="acct.image == null" ng-src="img/face_default.png" style="width: 150px;">
                      </a>
                    </div>
                    <h4 style="color: white;">{{acct.name}}</h4>
                </div>
            </div>

            <div ng-show="hasLinkedAccts" style="color: white; margin-top: 30%; text-align: center;">
                <i class="ion-arrow-up-c" style="font-size: 3em;"></i>
                <h1 style="color: white; font-size: 3em;">Create your first account!</h1>
                <i>(or swipe down to refresh)</i>
            </div>

        </div>

    </ion-content>


  <div class='bottom-ribon' style="padding-top: 1em;">
    <a href="" class="add-avtr" ng-click="showPopup()">
        <i class="avtr ion-plus-circled balanced"></i>
    </a>
    <a href="#/app/tutorial">
      <i id="infoicon" style="color: white;" class="ion-ios-help-outline"></i>
    </a>
    <a href="" ng-click="tos()">
      <i id="tosicon" style="color: white;" class="ion-ios-information-outline"></i>
    </a>
  </div>


</ion-view>
