<ion-view view-title="My Account" ng-init="profile()">
    <div class="solid-blue-bg"></div>
    <ion-content>
        <div id="profile_cont">
            <label class="prof_lbl">Email</label>
            <input class="profile_inputs"
                style="padding-left: 1em;"
                type="text"
                ng-model="updateData.email"
                placeholder="{{ my_email}}"
            >
            <label class="prof_lbl">Name</label>
            <input class="profile_inputs"
                   style="padding-left: 1em;"
                   type="text"
                   ng-model="updateData.name"
                   placeholder="{{my_name}}"
            >
            <label class="prof_lbl">Phone</label>
            <input class="profile_inputs"
                   style="padding-left: 1em;"
                   type="text"
                   ng-model="updateData.phone"
                   placeholder="{{display_phone}}"
            >
            <div style="height: 20px;"></div>
            <div class="padding">
                <button class="button button-block edify-button activated"
                        style="border: 1px solid white; border-radius: 25px; padding: 0.5em; padding-left: 1em; padding-right: 0.4em; width: 85% !important; margin: auto;"
                        ng-click="update()">Update Account
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
