<ion-view view-title="Resources">
    <div class="solid-blue-bg"></div>
    <ion-content>
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="searchText">
          </label>
        </div>
        <!-- track by $index -->
        <div ng-repeat="resource in resourceService | filter:searchText ">
            <div class="list card">
                <div class="item item-avatar">
                    <img src="{{resource.logo}}" style="max-width: 50px; padding-right: 5px; max-height: 100px; height: auto; padding-top: 0.8em; border-radius:0;">
                    <h2>{{ resource.title }}</h2>
                    <p>{{ resource.site }}</p>
                </div>

                <div class="item item-body">
                    <img class="full-image" src="{{resource.image}}">
                    <p>
                      {{ resource.brief }}
                    </p>

                    <a class="item item-icon-left assertive" ng-click="openApplication(resource.link)">
                        <i class="icon ion-ios-glasses-outline"></i>
                        Read More
                    </a>
                    <p>
                        <a ng-repeat="tag in resource.tags" href="#" class="subdued">{{tag}}</a>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
