<ion-view view-title="Tutorial" class="tutbg" ng-controller="tutorialController">
    <ion-slide-box >
          <ion-slide class="solicitacoes">
            <br>
            <h3>Choose a Topic</h3>
            <div style="margin-top: 5em;">
              <div style="float: left; margin-left: 3em;">
                <img src="img/document-icon.png" style="margin-right: 3em;" ng-click="goToOverviewT()"><br>
                <span style="margin-left: -3em; color: white;">Overview</span>
              </div>
              <div style="margin-left: -2em;">
                <img src="img/document-icon.png" ng-click="goToDeviceT()"><br>
                <span style="margin-left: 0; color: white;">Device Association</span>
              </div>
            </div>
            <div style="margin-top: 5em;">
              <div style="float: left; margin-left: 3em;">
                <img src="img/document-icon.png" style="margin-right: 3em;" ng-click="goToSocMedT()"><br>
                <span style="margin-left: -3em; color: white;">Social Media</span>
              </div>
              <div style="margin-left: -2em;">
                <img src="img/document-icon.png" ng-click="goToFaqs()"><br>
                <span style="margin-left: 0; color: white;">FAQs</span>
              </div>
            </div>
          </ion-slide>      
        </ion-slide-box>
</ion-view>
