<ion-view view-title="Tutorial" class="tutbg" ng-controller="tutorialController">
    <ion-slide-box on-slide-changed="slideChanged(index)">

          <ion-slide class="solicitacoes">
            <div id="logo">
              <img src="http://i.imgur.com/0F0W8MY.png">
            </div>
            <p>
               Overview
            </p>
          </ion-slide>

          <ion-slide class="sem-internet">
            <div id="logo">
              <img src="http://i.imgur.com/I6wDDH6.png">
            </div>
            <h3>Sync</h3>
            <p>
              Sync and read later <br/>
                connection is not a problem.
            </p>
          </ion-slide>

          <ion-slide class="notificacoes">
            <div id="logo">
              <img src="http://i.imgur.com/qrR7i8g.png">
            </div>
            <h3>Get notified</h3>
            <p>
              When there is a problematic message<br/>
                you'll get notified on you phone.
            </p>
          </ion-slide>

        </ion-slide-box>
</ion-view>
