@font-face {
    font-family: 'bree_serifregular';
    src: url('../fonts/breeserif-regular-webfont.eot');
    src: url('../fonts/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/breeserif-regular-webfont.woff2') format('woff2'),
         url('../fonts/breeserif-regular-webfont.woff') format('woff'),
         url('../fonts/breeserif-regular-webfont.ttf') format('truetype'),
         url('../fonts/breeserif-regular-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('../fonts/opensans-condbold-webfont.eot');
    src: url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-condbold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-condbold-webfont.woff') format('woff'),
         url('../fonts/opensans-condbold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanscondensed_light';
    src: url('../fonts/opensans-condlight-webfont.eot');
    src: url('../fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-condlight-webfont.woff2') format('woff2'),
         url('../fonts/opensans-condlight-webfont.woff') format('woff'),
         url('../fonts/opensans-condlight-webfont.ttf') format('truetype'),
         url('../fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansCnLtIt';
    src: url('../fonts/opensans-condlightitalic-webfont.eot');
    src: url('../fonts/opensans-condlightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-condlightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-condlightitalic-webfont.woff') format('woff'),
         url('../fonts/opensans-condlightitalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-condlightitalic-webfont.svg#open_sansCnLtIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6, li, a, p, div, span, button {
  font-family: 'open_sans_condensedbold', sans-serif !important;
}
#login-content {
  margin-top: 8%;
  text-align: center;
  margin-bottom: 30%;
  /*margin-bottom: 2%;*/
}

#subacctpic {
  display: block;
  border-radius: 50%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.button.back-button.buttons.button-clear.header-item {
  color: #ffffff;
}

#signup-content {
  margin-top: 10%;
  text-align: center;
  margin-bottom: 10%;
}

#subacct-info{
  text-align: center;
}

#subacct-name{

}

#fol-ribbon{
    padding-top: 1em;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 1em;
}

.lkprof-sections{
  width: 100%;
  /*background-color: red;*/
  padding: 1.5em;
  text-align: center;
}


a#follow-lk:link, a.lk-sec-link:link{
  text-decoration: none;
}
a#follow-lk:visited, a.lk-sec-link:visited{
  text-decoration: none !important;
  color: rgb(45, 122, 190);
}
a#follow-lk:hover, a.lk-sec-link:hover{
  text-decoration: none;
}
a#follow-lk:active, a.lk-sec-link:active{
  text-decoration: none;
}

.lk-sec-ic{
  color: rgb(45, 122, 190);
  font-size: 2em;
}

.lk-sec-txt{
  color: rgb(45, 122, 190);
  font-size: 2em;
}

.lk-sec-ic-wrap{
  border-right: 1px solid #d3d3d3;
}

.solid-blue-bg {
  background: linear-gradient(to top, rgb(45, 122, 190) , rgb(35, 94, 146));
  height: 100%;
  width: 100%;
  z-index: 100;
}

.half-blue-bg{
  background: linear-gradient(to top, rgb(45, 122, 190) , rgb(35, 94, 146));
  width: 100%;
  padding-top: 3em;
  height: 220px;
  /*margin-top: -5em;*/
}

.half-blue-bg-sp{
  background: linear-gradient(to top, rgb(45, 122, 190) , rgb(35, 94, 146));
  width: 100%;
  padding-top: 2em;
  height: 135px;
}

#fol-ribbon{

}

a.head-icons:link{
  color: rgb(45, 122, 191) !important;
}
a.head-icons:visited{
  color: rgb(45, 122, 191) !important;
}
a.head-icons:hover{
  color: rgb(45, 122, 191) !important;
}
a.head-icons:active{
  color: rgb(45, 122, 191) !important;
}

.input-area{
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff !important;
  display: block;
  margin: auto;
  padding: 2em !important;
  border-radius: 25px;
  width: 80%;
  margin-bottom: 5%;
  text-align: center;
}

.input-area-social{
    background-color: rgba(45, 122, 190, 0.7);
    color: #ffffff !important;
    display: block;
    margin: auto;
    padding: 2em !important;
    border-radius: 25px;
    width: 80%;
    margin-bottom: 5%;
    font-weight: 800;
    font-size: 1.2em !important;
    text-align: center;
}

.input-area-social:placeholder-shown {
    color: #ffffff;
    font-weight: 800;
    font-size: 1.2em;
}

.input-area-social::-webkit-input-placeholder { /* Safari, Chrome and Opera */
    color: #ffffff;
    font-weight: 800;
    font-size: 1.2em;
}


.input-area:placeholder-shown {
  color: #ffffff;
  font-weight: 800;
}
.input-area::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #ffffff;
  font-weight: 800;
}

.input-area:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
  font-weight: 800;
}

.input-area::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
  font-weight: 800;
}

.input-area:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
  font-weight: 800;
}

.input-area::-ms-input-placeholder { /* Edge */
  color: #ffffff;
  font-weight: 800;
}

.input-area:placeholder-shown { /* Standard one last! */
  color: #ffffff;
  font-weight: 800;
}

.login-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
.grad-bg-login{
  /*background-color: rgba(45, 122, 190, 0.5);*/
  background: linear-gradient(to top, rgba(45, 122, 190, 0.4) , rgba(35, 94, 146, 0.7));
  height: 100%;
  width: 100%;
  z-index: 100;

}

.edify-logo {
  height: 60px;
  width: 60px;
  border-radius: 5px;
}

.edify-logo-signin {
  display: block;
  margin: auto;
  height: 60px;
  width: 60px;
  border-radius: 5px;
  margin-top: 15%;
  /*margin-bottom: 15%;*/
}

.sub-accts {
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

.avtr {
  font-size: 5em;
}

.avtr-1 {
  color: rgb(45, 122, 191) !important;
  margin-top: 4em;
}

.avtr-2 {
  color: rgb(45, 122, 191) !important;
  margin: 5em;
}

.add-avtr {
  color: rgb(255, 255, 255) !important;
  position: absolute;
  bottom: 5px;
  left: 43%;
  /*box-shadow:         inset 0 0 10px #000000;*/
  /*margin: 2em;
  margin-top: 2em;*/
  z-index: 100;
  /*text-shadow: 1px 1px 3px #d3d3d3;*/
}

.bottom-ribon{
    margin-top: 40px;
  background-color: rgba(35, 96, 149, 1);
  width: 100%;
  height: 100px;
  position: absolute;
  box-shadow: 0 0 0.2em;
  top: 0px;
  /*bottom: -330px;
  left: 0;*/
  z-index: 1;
}

/*************
 *
 * Button
 *
 ************/

.edify-button {
  background-color: rgb(45, 122, 191) !important;
  color: rgb(250, 250, 250) !important;
}

.edify-button:visited, .edify-button:visited {
    color: rgb(250, 250, 250) !important;
}

.edify-button:active, .edify-button:active {
    background-color: #246291 !important;
    color: rgb(250, 250, 250) !important;
}

/*************
 *
 * Menu
 *
 ************/

#menu_bar {
   background-color: rgb(45, 122, 191);
}

ion-header-bar {
  background-color: rgb(45, 122, 191) !important;
  color: #ffffff;
}

.button.button-icon.button-clear.ion-navicon {
  color: #ffffff;
}

.edify-menu_el.item.item-complex {
    border-color: rgb(45, 122, 191);
}

.menu-list{
  list-style-type: none;
  margin-top: 4em;
}
.menu-elems{
  color: #ffffff;
  font-size: 1.2em;
  padding: 2em;
}

.menu-icon {
  font-size: 1.5em;
  margin-right: 2em;
}

#activation_content {
  padding: 2em;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: justify;
}

#menu-bg{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.att_req_el {
  background-color: rgba(35, 94, 146, 0);
  border: 0;
  border-bottom: 1px dashed #fff;
  color: #fff;
}

#side_menu_edify {
  background-color: rgb(45, 122, 191) !important;
  /*background-color: rgb(103, 164, 209);*/
}

.edify-menu_el a{
  background-color: rgba(45, 122, 191, 1) !important;
  /*background-color: rgb(103, 164, 209) !important;*/
  color: #ffffff;
}

#menu_bar_title {
  color: #ffffff;
}

.ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

/*************
 *
 * Resources
 *
 ************/

 .col-demo {
    padding: 5px;
    padding-top: 35%;
    color: #4a4a4a;
    width: 100%;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 110px;
    background: #f7f7f7;
    text-align: center;
 }

.first_page {
  background-color: #d6d6d6;
  height: 900px;
  width: 100%;
  color: white;
  padding: 1em;
}

/******************
 *
 * Child Accounts
 *
 ******************/

.childImage {
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 2px solid rgba(255, 255, 255, 0.3);/*#4a4a4a;*/
  box-shadow: 1px 1px 1px #4a4a4a;
}

.childAccount{
  width: 100px;/* !important;*/
}

.childAccount-sp{
  width: 80px;
}

.head-icons {
    display: block;
    margin: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-top: 1.25em;

}

.head-ionic-ic{

  font-size: 3.5em !important;

}

.addAvatar{
  font-size: 2.5em;
  color: #33cd5f;
  position: absolute;
  right: 21%;
  /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
}

.alert-badge{
    font-size: 1.5em;
    position: absolute;
    right: 35%;
    background-color: #ef473a;
    border-radius: 50%;
    padding-right: 14px;
    padding-left: 12px;
    padding-top: 5px;
    width: auto;
    height: 35px;
    color: white;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
}

.alert-badge-list{
  font-size: 0.8em;
  position: absolute;
  left: 14%;
  background-color: #ef473a;
  border-radius: 50%;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 1px;
  width: auto;
  height: 24px;
  color: white;
}

.alert-badge-big{
    font-size: 1.5em;
    position: absolute;
    right: 35%;
    background-color: #ef473a;
    border-radius: 40%;
    padding-right: 14px;
    padding-left: 12px;
    padding-top: 5px;
    width: auto;
    height: 35px;
    color: white;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
}

.instagram-btn {
  height: 80px;
}
.instagram-inactive-logo{
    float: left;
    font-size: 5em;
    margin-left: 0.3em;
}
.instagram-inactive{
  float: right;
  padding-top: 10px;
  font-size: 4em;
  margin-right: 0.3em;
  color: rgba(51, 205, 95, 0.8);
}
.instagram-active {
  float: right;
  padding-top: 10px;
  font-size: 4em;
  margin-right: 0.3em;
  color: rgb(45, 122, 191);
}
.avtr-profile {
  color: rgb(45, 122, 191) !important;
  margin-top: 4em;
  /*margin-bottom: -2.5em;*/
}
#instagram-logo {
  float: left;
  padding-top: 4px;
  width: 70px;
  margin-left: 1em;
}
.addProfileAvatar{
  font-size: 2.5em;
  color: #33cd5f;
  position: absolute;
  right: 32%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.facebook-btn {
  height: 80px;
}
.facebook-inactive-logo{
  float: left;
  font-size: 5em;
  margin-left: 0.5em;
}
.facebook-inactive{
  float: right;
  padding-top: 20px;
  font-size: 2em;
  margin-right: 0.3em;
}
.twitter-btn {
  height: 80px;
}
.twitter-inactive-logo{
  float: left;
  font-size: 4em;
  margin-left: 0.4em;
}
.twitter-inactive{
  float: right;
  padding-top: 20px;
  font-size: 2em;
  margin-right: 0.3em;
}

#infoicon{
  /*color: rgb(45, 122, 191);*/
  font-size: 3em;
  float: left;
  margin-left: 1em;
  /*position: absolute;
  bottom: -300px;*/
  left: -20px;
  margin-top: 0.65em;
  /*text-shadow: 1px 1px 3px #d3d3d3;*/
}

#tosicon{
  /*color: rgb(45, 122, 191);*/
  font-size: 3em;
  float: right;
  margin-right: 45px;
  /*position: absolute;
  bottom: -300px;*/
  margin-top: 0.65em;
  right: 20px;
  /*text-shadow: 1px 1px 3px #d3d3d3;*/
}

#account-list {
  padding-top: 80px;
  /*height: 500px;*/
}

#res_1 {
    background: url("../img/res_1.png") no-repeat;
    color: #ffffff;
    height: 200px;
}

#res_2 {
    background: url("../img/res_2.png") no-repeat;
    color: #ffffff;
    height: 200px;
}

#res_3 {
    background: url("../img/res_3.png") no-repeat;
    color: #ffffff;
    height: 200px;
}

#res_4 {
    background: url("../img/res_4.png") no-repeat;
    color: #ffffff;
    height: 200px;
}

#res_5 {
    background: url("../img/res_5.png") no-repeat;
    color: #ffffff;
    height: 200px;
}

#res_6 {
    background: url("../img/res_6.png") no-repeat;
    color: #ffffff;
    height: 200px;
}


#res_3 {
    background: url("../img/res_3.png") no-repeat;
    color: #ffffff;
    height: 200px;
}

#res_4 {
    background: url("../img/res_4.png") no-repeat;
    color: #ffffff;
    height: 200px;
}

#res_5 {
    background: url("../img/res_5.png") no-repeat;
    color: #ffffff;
    height: 200px;
}

#res_6 {
    background: url("../img/res_6.png") no-repeat;
    color: #ffffff;
    height: 200px;
}

.ionic-refresher-content.ionic-refresher-with-text {
    color: white;
}

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #fff;
  fill: #fff;
}

/******************
 *
 * Box icon
 *
 ******************/

.box-icon {
    font-size: 11em;
    display: block;
    margin: auto;
    padding-top: 15%;
    color: #ddd;
    text-decoration: none !important;
    text-align: center;
}
.facebook-inactive-logo{
    padding-left: 0.3em;
    font-size: 0.7em;
}
.facebook-inactive{
  font-size: 0.15em;
}
.twitter-inactive-logo{
    font-size: 0.7em;
}
.twitter-inactive{
    font-size: 0.15em;
}
.instagram-inactive-logo{
     font-size: 0.8em;
}
.instagram-inactive{
  font-size: 0.2em;
}
#instagram-logo {
    display: block;
    margin: auto;
    width: 7em;
    padding-top: 2.5em;
}

/******************
 *
 * Config
 *
 ******************/

#instagram-logo-avatar {
    height: 50px !important;
    float: left;
    margin-right: 2em;
}

.config-tgls {
    padding-top: 1.5em;
}

.lower-hdl {
    top: 1.6em !important;
}

.label-tgls {
    margin-top: 0.7em;
    font-size: 1.2em !important;
}

#img-txt {
  position: absolute !important;
  color: white;
  font-size: 1.2em;
  top: 320px;
  padding: 1em;
  z-index: 1000 !important;
}

.profile_inputs {
    background-color: rgba(45, 122, 191, 0);
    color: white !important;
    font-size: 1.5em !important;
    margin-top: 1em;
    margin-bottom: 2em;
    border-bottom: 2px solid white !important;
    text-align: right;
    margin-left: 2em;
}

.prof_lbl {
    color: white;
    font-size: 1.2em;
    margin-top: 1.5em;
}

#profile_cont {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 80%;
    /*margin-right: 6em;*/
}


.profile_inputs::-webkit-input-placeholder {
    color: #fff;
}

.profile_inputs:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.profile_inputs::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}

.profile_inputs:-ms-input-placeholder {
   color: #fff;
}

/* Slides */

@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.slider {
  height: 100%;
}

.slider-slide {
  padding-top: 20px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-weight: 400;
}

#logo {
  margin: 30px 0px;
}

.button.ng-hide {
  display: none;
}

.slider-pager .slider-pager-page {
  color: #FFF;
}


/* Slides */

.solicitacoes {
  padding-top: 3em;
  background: #8BC34A;
}

.sem-internet {
  padding-top: 3em;
  background: #03A9F4;
}

.notificacoes {
  padding-top: 3em;
  background: #FF9800;
}


/* Common */

h3 {
  color: #FFF;
  font-size: 22px;
}

p {
  color: #FFF;
  font-size: 15px;
  line-height: 150%;
}

i.alert-icons.icon::before {
    margin-top: 10px;
    font-size: 1.5em !important;
}

i.alert-list-icons.icon::before {
    margin-left: 15px;
    font-size: 0.9em !important;
}

#edit-child {
    display: inline;
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 3.2em;
    position: absolute;
    top: 75px;
    right: 25px;
}

#edit-child-help{
    display: inline;
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 3.1em;
    position: absolute;
    top: 47px;
    left: 20px;
}

.border-alert {
    text-shadow: -1px 0 #4a4a4a, 0 1px #4a4a4a, 1px 0 #4a4a4a, 0 -1px #4a4a4a;
}

.my-msg {
  background-color: #d3d3d3;
  float: right;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.my-msg-timestamp {
  font-size: 0.8em;
  color: #666;
  margin-top: 2em;
  position: absolute;
  right: 1.2em;
}

.them-msg-timestamp {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.56) !important;
  margin-top: 2em;
  position: absolute;
  left: 1.2em;
}

.them-msg-username {
  font-size: 1em;
  color: #666;
  margin-top: -3.2em;
  position: absolute;
  left: 0;
}

.my-msg-username {
  font-size: 1em;
  color: #666;
  margin-top: -3.2em;
  position: absolute;
  right: 0;
}

.my-msg-timestamp-alert {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.61);
  position: absolute;
  margin-top: 2em;
  right: 1.2em;
}

.them-msg-timestamp-alert {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.61);
  position: absolute;
  margin-top: 2em;
  left: 1.2em;
}

/* container */
.container {
  padding: 5% 5%;
}

/* CSS talk bubble */
.alert-talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
  min-height: 70px;
  padding-bottom: 1em;
  background-color:  #f53d3d;
}

/* CSS talk bubble */
.them-talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
  min-height: 70px;
  padding-bottom: 1em;
  background-color: rgb(45, 122, 191);
}

/* CSS talk bubble */
.my-talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
  min-height: 70px;
  padding-bottom: 1em;
  background-color: #b1b1b1;
}

.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: rgb(45, 122, 191) rgb(45, 122, 191)transparent transparent;
}

.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: #b1b1b1 transparent transparent #b1b1b1;
}

.alert.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: #f53d3d #f53d3d transparent transparent;
}

.alert.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: #f53d3d transparent transparent #f53d3d;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

ion-scroll[direction=x] {
  width: 100vw;
}

ion-scroll[direction=y] {
  height: 100vh;
}
